<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Usuários</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out">
          <ion-label>sair</ion-label>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <ion-item>
   <ion-label position="floating">
      Nome
   </ion-label>
   <ion-input [(ngModel)]="nome"></ion-input>
 </ion-item>
  <ion-item>
    <ion-label position="floating">
       Sobrenome
    </ion-label>
    <ion-input [(ngModel)]="sobrenome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
       Senha
    </ion-label>
    <ion-input type="password" [(ngModel)]="senha_original"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
       Telefone
    </ion-label>
    <ion-input type="tel" [(ngModel)]="telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
       Email
    </ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
       Data de nascimento
    </ion-label>
    <ion-input type="date" placeholder="" [(ngModel)]="data_nascimento"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">
      Apartamento
    </ion-label >
    <ion-select [(ngModel)]="num_ap" placeholder="Selecione o apartamento" >
      <ion-select-option *ngFor="let apartamento of apartamentos"  >{{apartamento.num_ap}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item >
    <ion-label position="floating">
      Box Garagem
    </ion-label >
    <ion-select [(ngModel)]="num_box" placeholder="Selecione o Box da garagem" >
      <ion-select-option *ngFor="let box of boxes"  >{{box.num_box}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="tipo_funcao === 'sindico'">
    <ion-label position="floating">
      Função
    </ion-label >
    <ion-select [(ngModel)]="id_funcao" placeholder="Selecione a função" >
      <ion-select-option *ngFor="let funcao of funcoes"  >
      <span style="visibility: hidden">{{funcao.id_funcao}}</span>&nbsp;{{funcao.tipo_funcao}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button *ngIf="!id_usuario" color="success" expand="block" (click)="cadastrar()">Confirma</ion-button>
  <ion-button *ngIf="id_usuario " color="primary" expand="block" (click)="editar()">Editar</ion-button>
 </ion-content>
