<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Melhoria</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out">
          <ion-label>sair</ion-label>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <ion-item>
   <ion-label position="floating">
      Título da Melhoria
   </ion-label>
   <ion-input [(ngModel)]="titulo_melhoria" type="text" name="titulo" required="true" requiredMessage="Preencha o Titulo!"></ion-input>
 </ion-item>
  <ion-item>
    <ion-label position="floating">
       Descrição
    </ion-label>
    <ion-textarea [(ngModel)]="desc_melhoria" type="text" name="descricao" required="true" requiredMessage="Preencha a descrição!"></ion-textarea>
  </ion-item><br>
  <ion-button  color="primary" expand="block" (click)="cadastrar()">Confirma</ion-button>
 </ion-content>
