<ion-header>
  <ion-toolbar>
    <ion-title>Listagem de Usuários</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out">
          <ion-label>sair</ion-label>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
<ion-searchbar placeholder="Buscar" [(ngModel)]="nome" type="search" (input)="carregar()"></ion-searchbar>
</ion-row>
<ion-content>
<ion-list>
<ion-item-sliding *ngFor="let usuario of usuarios">
<ion-item-options side="start">
  <ion-item-option (click)="editar(usuario.id_usuario, usuario.nome, usuario.sobrenome, usuario.senha_original,usuario.telefone,usuario.email,usuario.data_nascimento)"> 
    Editar
  </ion-item-option>
</ion-item-options>
<ion-item><ion-label>Nome:{{usuario.nome}}&nbsp;{{usuario.sobrenome}}<br>
  Senha:&nbsp;{{usuario.senha_original}}<br>
  Telefone:&nbsp;{{usuario.telefone}}<br>
  Email:&nbsp;{{usuario.email}}<br>
  data_nascimento:&nbsp;{{usuario.data_nascimento}}<br></ion-label></ion-item>
<ion-item-options side="end">
  <ion-item-option (click)="excluir(usuario.id_usuario)" color="danger"> 
    Excluir
  </ion-item-option>
</ion-item-options>
</ion-item-sliding>
</ion-list>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
<ion-refresher-content
pullingIcon="chevron-down-circle-outline"
pullingText="Puxe para recarregar"
refreshingSpinner="circles"
refreshingText="Carregando...">
</ion-refresher-content>
</ion-refresher>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
<ion-infinite-scroll-content
loadingSpinner="bubbles"
loadingText="Aguarde novos dados...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
</ion-content>


