      <ion-header>
        <ion-toolbar>
          <ion-title>Recados</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="logout()">
              <ion-icon slot="end" name="log-out">
                <ion-label>sair</ion-label>
              </ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
      <ion-card *ngFor="let recado of recados" color="light" >
          <ion-card-header class="titulo" color="secondary" color="success">
           {{recado.titulo_recado}}
          </ion-card-header>
          <ion-card-content>
          <br><h2>{{recado.desc_recado}}</h2> 
          </ion-card-content>
          <ion-card-subtitle>
            <br>Autor: Sindico - Data: {{recado.data_recado}}<br><br>
          </ion-card-subtitle>
      </ion-card>
    </ion-content>
      <ion-footer class="ion-no-border">
        <ion-button color="success" class="recado-button" (click)="Cadastra_recados()">INSERIR RECADO</ion-button>
      </ion-footer>  
      

  