    <ion-header>
      <ion-toolbar>
        <ion-title>Regras</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="end" name="log-out">
              <ion-label>sair</ion-label>
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-card *ngFor="let regra of regras" color="light">
        <ion-card-header color="secondary">
          <ion-label class="titulo"><h2>{{regra.titulo_regra}}</h2></ion-label>
        </ion-card-header>
        <ion-card-content>
          <br><h2>{{regra.desc_regra}}</h2>
        </ion-card-content>
    </ion-card>
   
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-button href="http://www.appcondhorus.com.br/regras.pdf" color="secondary" class="regras-button" >
    PDF REGRAS</ion-button>
  </ion-footer> 

 

