<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Regras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out">
          <ion-label>sair</ion-label>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <ion-item>
   <ion-label position="floating">
      Título regra
   </ion-label>
   <ion-input [(ngModel)]="titulo_regra"></ion-input>
 </ion-item>
  <ion-item>
    <ion-label position="floating">
       Descrição regra
    </ion-label>
    <ion-textarea [(ngModel)]="desc_regra"></ion-textarea>
  </ion-item>
  <ion-button  *ngIf="!id_regras" color="success" expand="block" (click)="cadastrar()">Confirma</ion-button>
  <ion-button *ngIf="id_regras" color="primary" expand="block" (click)="editar()">Editar</ion-button>
 </ion-content>
 
