<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Relatórios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out">
          <ion-label>sair</ion-label>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <ion-item>
   <ion-label position="floating">
      Título relatório
   </ion-label>
   <ion-input [(ngModel)]="titulo_relatorio" type="text" name="titulo"></ion-input>
 </ion-item>
  <ion-item>
    <ion-label position="floating">
       Descrição relatório
    </ion-label>
    <ion-input [(ngModel)]="desc_relatorio" type="text" name="descricao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
       Link PDF
    </ion-label>
    <ion-input [(ngModel)]="lk_relatorio" type="text" name="lk_pdf"></ion-input>
  </ion-item>
  <ion-button *ngIf="!id_relatorio" color="success" expand="block" (click)="cadastrar()">Confirma</ion-button>
  <ion-button *ngIf="id_relatorio" color="primary" expand="block" (click)="editar()">Editar</ion-button>
 </ion-content>


