ion-content{
  font-family:'Cinzel', serif;
  text-align: center;
}

.tamanhoImg{ 
  max-width: 40px;
  max-height: 40px;

}

.cards{
  padding-top: 10px;
}
p{
  text-align: center;
}

h6{
  color: black;
}